[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "imgui"]
	path = imgui
	url = https://github.com/PureFoxCore/imgui
[submodule "glad"]
	path = glad
	url = https://github.com/PureFoxCore/glad
